{% extends "base.html" %}
{% block content %}
  {% if user.is_authenticated %}
    <div class="row">
      <ul class="col">
        <h3>TODO</h3>
        <button type="button" class="btn btn-outline-primary" id="todoAdd">추가하기</button>
        {% for todo in todo_list %}
          <li>
            <ul class="todo">
              <li>{{ todo.title }}</li>
              <li>{{ todo.done }}</li>
              <li>{{ todo.priority }}</li>
            </ul>
          </li>
        {% endfor %}
      </ul>
      <ul class="col">
        <h3>TASK</h3>
        {% for task in task_list %}
          <li>
            <ul class="task">
              <li>{{ task.title }}</li>
              <li>{{ task.done }}</li>
              <li>{{ task.priority }}</li>
            </ul>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% else %}
    <div class="jumbotron">
      <h1 class="display-4">Welcome</h1>
      <p class="lead">
        This is <b>user registration and login system</b> build with django which is
        a Python-based free and open-source web framework that follows the model–template–views architectural pattern.
      </p>
      <hr class="my-4">
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'accounts:login' %}" role="button">Sign in</a>
      </p>
    </div>
  {% endif %}
{% endblock content %}
{% block script %}
  <script>
    document.getElementById('todoAdd').addEventListener('click', () => {
        window.location.href = {% url 'main:todo_create' %};
    })
  </script>
{% endblock %}