{% extends "base.html" %}
{% block content %}
  {% if user.is_authenticated %}
    <div id="notification"></div>
    <div class="row">
      <ul class="col">
        <h3>TODO</h3>
        <button type="button" class="btn btn-outline-primary" id="todoAdd">추가하기</button>
        {% for todo in todos %}
          <li>
            <ul class="todo">
              <li><strong>{{ todo.title }}</strong>
                <span>
                  <a href="{% url 'main:todo_delete' todo.pk %}"><i class="bi bi-trash"></i></a>
                  <a href="{% url 'main:todo_update' todo.pk %}"><i class="bi bi-pencil-square"></i></a>
                </span>
              </li>
              <li>{% if todo.done %}완료{% else %}해야함{% endif %}</li>
              <li>{{ todo.priority }} 순위</li>
            </ul>
          </li>
        {% endfor %}
        {% include "pagination.html" with page=todos page_param='todo' %}
      </ul>
      <ul class="col">
        <h3>TASK</h3>
        {% for task in tasks %}
          <li>
            <ul class="task">
              <li><strong>{{ task.title }}</strong>
                <span>
                  <a href="{% url 'main:task_delete' task.pk %}"><i class="bi bi-trash"></i></a>
                  <a href="{% url 'main:task_update' task.pk %}"><i class="bi bi-pencil-square"></i></a>
                </span>
              </li>
              <li>{% if todo.done %}완료{% else %}해야함{% endif %}</li>
              <li>{{ task.priority }} 순위</li>
            </ul>
          </li>
        {% endfor %}
        {% include "pagination.html" with page=tasks page_param='task' %}
      </ul>
    </div>
  {% else %}
    <div class="jumbotron">
      <h1 class="display-4">Welcome</h1>
      <p class="lead">
        This is <b>user registration and login system</b> build with django which is
        a Python-based free and open-source web framework that follows the model–template–views architectural pattern.
      </p>
      <hr class="my-4">
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'accounts:login' %}" role="button">Sign in</a>
      </p>
    </div>
  {% endif %}
{% endblock content %}
{% block script %}
  <script>
    function getCookie(name) {
      let matches = document.cookie.match(new RegExp(
        "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
      ));
      return matches ? decodeURIComponent(matches[1]) : undefined;
    }

    function redirectToUrl(url) {
      window.location.href = url;
    }

    function clickRedirectToUrl(elementId, url) {
      document.getElementById(elementId).addEventListener('click', () => {
        redirectToUrl(url);
      });
    }

    clickRedirectToUrl('todoAdd', {% url 'main:todo_create' %});

    window.onload = function () {
      const savedNotifications = getCookie('notification');
      const notificationElement = document.querySelector('#notification');
      if (savedNotifications) {
        notificationElement.innerText = savedNotifications;
      }
    };
  </script>
{% endblock %}